h3 Benvenuto in #{projectName}
p La tua username e password sono state appena create
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Nome Utente:
    td #{username}
  tr
    td e-mail:
    td #{email}
  tr
    td effettua il login qui:
    td #{loginURL}
p
  | Grazie,
  br
  | #{projectName}
