| Benvenuto in #{projectName}
= '\n'
= '\n'
| La tua username e password sono state appena create:
= '\n'
= '\n'
| Nome utente: #{username}
| e-mail: #{email}
= '\n'
= '\n'
| effettua l'accesso qui: #{loginURL}
= '\n'
= '\n'
| Grazie,
| #{projectName}
