h3 #{projectName} Verifica e-mail
p Il tuo account per  #{projectName} deve essere attivato. Confermare il proprio indirizzo e-mail cliccando sul link sottostante prima di procedere all'accesso.
a(href='#{verifyURL}') #{verifyURL}
p Nota: Se non ti sei iscritto come utente di #{projectName}, ignora la presente email.
p
  | Grazie,
  br
  | #{projectName}
