| #{projectName} Verifica e-mail
= '\n'
= '\n'
| Il tuo account per  #{projectName} deve essere attivato. Confermare il proprio indirizzo e-mail cliccando sul link sottostante prima di procedere all'accesso.
= '\n'
= '\n'
| #{verifyURL}
= '\n'
= '\n'
| Nota: Se non ti sei iscritto come utente di #{projectName}, ignora la presente email.
= '\n'
= '\n'
| Grazie,
| #{projectName}
